*{
  box-sizing: border-box;
  margin: 0;
}

#graph-languages-container{
  margin: 100px;
  /* border: 1px solid #000; */
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#graph-commits-container{
  border: 1px solid #000;  
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}


.part-graph {
  position: absolute;  
  width: 400px;
  height: 400px;
  border-radius: 200px;  
  transition: ease-in-out 0.3s;
}



#q{ 
  width: 400px;
  height: 200px;
  border-radius: 100px;
  /* clip-path: polygon( 49% 54%, 100% 100%);  */
  background-color: red;
  
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid #333;
    border-radius: 50%;
  
}

#q:hover{
  /* transform: scale(2); */
}


